<%- include('../partials/admin-header', { title: 'Edit Media', currentPage: 'media' }) %>
<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="card">
      <div class="card-body">
        <h2 class="h5 mb-3">Edit Media</h2>
        <div class="mb-3">
          <% 
            // Support both new (fileId) and legacy (url) formats
            let mediaImgUrl = '';
            if (media.sizes?.large?.fileId) {
              mediaImgUrl = '/admin/media/image/' + media.sizes.large.fileId;
            } else if (media.sizes?.medium?.fileId) {
              mediaImgUrl = '/admin/media/image/' + media.sizes.medium.fileId;
            } else if (media.sizes?.thumbnail?.fileId) {
              mediaImgUrl = '/admin/media/image/' + media.sizes.thumbnail.fileId;
            } else if (media.sizes?.large?.url) {
              mediaImgUrl = '/public/' + media.sizes.large.url;
            } else if (media.sizes?.medium?.url) {
              mediaImgUrl = '/public/' + media.sizes.medium.url;
            } else if (media.sizes?.thumbnail?.url) {
              mediaImgUrl = '/public/' + media.sizes.thumbnail.url;
            }
          %>
          <img src="<%= mediaImgUrl %>" class="img-fluid rounded" alt="<%= media.altText || media.title || media.originalFilename %>">
          <div class="text-muted small mt-2">
            <%= media.originalFilename %>
            <% if (media.sizes?.large) { %>
              · Large: <%= media.sizes.large.width %>x<%= media.sizes.large.height %> (<%= media.sizes.large.sizeInKb %>KB)
            <% } %>
          </div>
        </div>
        <form action="/admin/media/<%= media._id %>" method="POST" class="vstack gap-3">
          <div>
            <label class="form-label">Title</label>
            <input type="text" name="title" class="form-control" value="<%= media.title %>">
          </div>
          <div>
            <label class="form-label">Alt Text</label>
            <input type="text" name="altText" class="form-control" value="<%= media.altText %>">
          </div>
          <div>
            <label class="form-label">Tags (comma separated)</label>
            <input type="text" name="tags" class="form-control" value="<%= (media.tags || []).join(', ') %>">
          </div>
          <div class="d-flex gap-2">
            <button class="btn btn-primary">Save</button>
            <a href="/admin/media" class="btn btn-outline-secondary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/admin-footer') %>


