<%- include('partials/header', { title: project.title, siteSettings }) %>
<div class="row">
  <div class="col-lg-10 mx-auto">
    <% 
      let projectMainImgUrl = '';
      if (project.images && project.images.length > 0) {
        if (typeof project.images[0] === 'object' && project.images[0].sizes) {
          projectMainImgUrl = project.images[0].sizes.large?.fileId ? '/admin/media/image/' + project.images[0].sizes.large.fileId :
                              project.images[0].sizes.medium?.fileId ? '/admin/media/image/' + project.images[0].sizes.medium.fileId :
                              project.images[0].sizes.thumbnail?.fileId ? '/admin/media/image/' + project.images[0].sizes.thumbnail.fileId : '';
        } else if (typeof project.images[0] === 'string') {
          projectMainImgUrl = project.images[0];
        }
      } else if (project.featuredImage) {
        projectMainImgUrl = project.featuredImage;
      }
    %>
    <% if (projectMainImgUrl) { %>
      <img src="<%= projectMainImgUrl %>" class="img-fluid rounded mb-4" alt="<%= project.title %>">
    <% } %>
    <h1 class="mb-1"><%= project.title %></h1>
    <% if (project.summary) { %>
      <p class="lead mb-3"><%= project.summary %></p>
    <% } else if (project.shortDescription) { %>
      <p class="lead mb-3"><%= project.shortDescription %></p>
    <% } %>
    <% if (project.description) { %>
      <div class="mb-4"><%- project.description %></div>
    <% } %>
    <% if (project.images && project.images.length > 1) { %>
      <div class="row g-3">
        <% project.images.slice(1).forEach(img => { %>
          <% 
            let galleryImgUrl = '';
            if (typeof img === 'object' && img.sizes) {
              galleryImgUrl = img.sizes.medium?.fileId ? '/admin/media/image/' + img.sizes.medium.fileId :
                              img.sizes.large?.fileId ? '/admin/media/image/' + img.sizes.large.fileId :
                              img.sizes.thumbnail?.fileId ? '/admin/media/image/' + img.sizes.thumbnail.fileId : '';
            } else if (typeof img === 'string') {
              galleryImgUrl = img;
            }
          %>
          <% if (galleryImgUrl) { %>
            <div class="col-md-4">
              <img src="<%= galleryImgUrl %>" class="img-fluid rounded" alt="<%= project.title %>">
            </div>
          <% } %>
        <% }) %>
      </div>
    <% } else if (project.gallery && project.gallery.length) { %>
      <div class="row g-3">
        <% project.gallery.forEach(img => { %>
          <div class="col-md-4">
            <img src="<%= img %>" class="img-fluid rounded" alt="<%= project.title %>">
          </div>
        <% }) %>
      </div>
    <% } %>
    <div class="mt-4">
      <a href="/contact" class="btn btn-primary">Request a similar project</a>
    </div>
  </div>
</div>
<%- include('partials/footer', { siteSettings }) %>


